<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>We Play</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    
  <div class="container-fluid">
  <ul class="nav justify-content-center">
    <a class="navbar-brand">
      <h1 class="text-dark text-center my-2 head-text ">WePlay App ⛈</h1>
    </a>
  </ul>
  </div>

    <br>

    <div class="container" align="right">
    <div class="row">
    
        <div class="col-md-4 ">
        <div class="weatherback" >
        <div class="row" align="center">
        <form  action="/" method="POST">
            <h4 class="mb-0">City Name:</h4>
            <input id="cityInput" type="text" name="cityName"> 
            <button type="submit">Search</button>
        </form>
        </div>
                <div class="text-muted text-uppercase text-center details">
                <h5 class="my-3">
                    City Name
                </h5>
                <div class="my-3">Weather Conditon</div>
                <div class="display-4 my-4">
                    <span>temp</span>
                    <span>&deg;C</span>
                </div>   
                </div>     

        </div>
        </div>
        <br><br>
        <div class="col-md-8">
        <div class="playerback">
    <div class="player">
    <div class="details">
      <div class="now-playing"></div>
      <div class="track-art"></div>
      <div class="track-name">Track Name</div>
      <div class="track-artist">Track Artist</div>
    </div>
    <div class="buttons">
      <div class="prev-track" onclick="prevTrack()"><i class="fa fa-step-backward fa-2x"></i></div>
      <div class="playpause-track" onclick="playpauseTrack()"><i class="fa fa-play-circle fa-2x"></i></div>
      <div class="next-track" onclick="nextTrack()"><i class="fa fa-step-forward fa-2x"></i></div>
    </div>
    <div class="slider_container">
      <div class="current-time">00:00</div>
      <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
      <div class="total-duration">00:00</div>
    </div>
    <div class="slider_container">
      <i class="fa fa-volume-down"></i>
      <input type="range" min="1" max="100" value="99" class="volume_slider" onchange="setVolume()">
      <i class="fa fa-volume-up"></i>
    </div>
    </div>
    </div>
    
  
        </div>
          
        
    </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script src="js/main.js"></script>
</body>
</html>
