video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
h1 {
  padding-top: 30px;
      font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

#id1 {
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin: 25px 0 10px 0;
}

#id2 {
    text-align: center;
    color: #000000;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 25px;
}

#id3{
   letter-spacing: 2px;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
}

#searchbox {
  padding-top: 25px;
}

iframe {
  margin-bottom: 20px;
  border-radius: 20px;
}


.playerback {
  max-width: 400px;
  max-height: 500px;
  border-radius: 20px;
  background: #FFF3E2;
  
}

.weatherback {
  max-width: 400px;
  max-height: 500px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.06);
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
  font-family: 'Poppins',sans-serif;
  color: #fcfcfc;
}

.temp {
    font-size: 50px;
    letter-spacing: -.7px;
    font-weight: 500;
}
.degree {
    opacity: .6;
    /* line-height: 1.28; */
    font-size: 24px;
    /* margin-right: -1px; */
    padding-left: 5px;
}
@media only screen and (max-width: 768px) {
  .col-md-8 {
  padding-top: 25px;
}
}

  @media only screen and (max-width: 438px) {
    .weatherback {
    width: 300px;
    text-align: center;
    }
    iframe {
      width: 300px;
      text-align: center;
    } 
  }