body {
  background-color: lightgreen;

  /* Smoothly transition the background color */
  transition: background-color .5s;
}

h1 {
  padding-top: 30px;
      font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
#searchbox {
  padding-top: 25px;
}




.playerback {
  max-width: 400px;
  max-height: 500px;
  border-radius: 20px;
  background: #FFF3E2;
  
}

.weatherback {
  max-width: 400px;
  max-height: 500px;
  border-radius: 20px;
  background: #F7FBFC;
}

.temp {
    font-size: 50px;
    letter-spacing: -.7px;
    font-weight: 500;
}
.degree {
    opacity: .6;
    /* line-height: 1.28; */
    font-size: 24px;
    /* margin-right: -1px; */
    padding-left: 5px;
}
@media only screen and (max-width: 768px) {
  .col-md-8 {
  padding-top: 25px;
}
}
